/* Google Fonts will be added later */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  color: #1e293b;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* .navbar-toggler{
  border: none;
} */

.navbar-toggler:focus {
  box-shadow: none;
}

.section-eyebrow {
    margin-bottom: 0;

    color: #2563eb;

    font-size: 14px;
    font-weight: 700;

    letter-spacing: 1.5px;
    text-transform: uppercase;
  }